<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Geschichte App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-list>
    
    <ion-item-sliding #item *ngFor="let topic of topics" (click)="showTopic(topic.id)">
      <ion-item-options side="end">
        <ion-item-option (click)="editTopic(topic.id, item)">Bearbeiten</ion-item-option>
      </ion-item-options>
  
      <ion-item>
        <ion-label> {{ topic.title }} {{ topic.content }}</ion-label>
      </ion-item>
  
      
    </ion-item-sliding>



  </ion-list>



</ion-content>
